.balls {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  span {
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


}
